{% extends 'front-end/list.html' %}
{% load static %}
{% block table %}
    <thead>
    <tr>
        <th style="width: 100px">Nombre</th>
        <th style="width: 10%">Tipo</th>
        <th style="width: 10%">N° Documento</th>
        <th style="width: 10%">Correo</th>
        <th style="width: 10%">Telefono</th>
        <th style="width: 25%">Direccion</th>
        <th style="width: 10%" class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block extra %}
 <script src="{% static 'apps/proveedor/list.js' %}"></script>
 <script src="{% static 'apps/proveedor/form.js' %}"></script>
{% endblock %}