{% extends 'front-end/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"><i class="{{ icono }}"></i> {{ entidad }}</h1>
        <br>
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-12 col-sm-12" id="div_table">
                <!-- Tabla Listado -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-list-ol"></i> {{ titulo_lista }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="id_abono"> Realizar abono:</label>
                            <div class="input-group">
                                <input type="text" name="abono" class="form-control" value="1.00"
                                       id="id_abono" aria-invalid="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_saldo">Saldo Pendiente:</label>
                            <div class="input-group">
                                <input type="text" name="saldo" class="form-control" readonly="readonly" value="{{ saldo }}"
                                       id="id_saldo" aria-invalid="false">
                            </div>
                        </div>
                        <br>
                        <table id="datatable" class="table table-bordered table-hover" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Fecha pago</th>
                                <th>Letra</th>
                                <th>Valor Pagado</th>
                                <th>Saldo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br>
                    </div>


                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm btn-flat" id="save">
                            <i class="far fa-save"></i> {{ boton }}
                            <span class="ripple ripple-animate"
                                  style="height: 115px; width: 115px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -47.875px; left: -23.5px;"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btn-flat"
                                onclick="window.history.back();">
                            <i class="fas fa-times"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra %}
    <script src="{% static "lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js" %}"></script>
    <script src="{% static 'apps/ctas_cobrar/pagar.js' %}"></script>
{% endblock %}

