{% extends 'front-end/login.html' %}
{% load static %}

{% block clase %}
    <div class="col-lg-6 d-none d-lg-block bg-login-image-change"></div>
{% endblock %}
{% block form_login %}
    <style>
        .bg-login-image-change {
            background: url(https://source.unsplash.com/user/jramos10/HCjyjdOuVLA/600x800);
            background-position: center;
            background-size: cover;
        }
    </style>
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Genial!!!</h1>
        <p class="mb-4">Ahora crea una nueva contraseña!</p>
    </div>
    <form class="user" id="form_change">
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Resetear Contraseña
        </button>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="{% url 'login' %}">Ir al Login!</a>
    </div>
{% endblock %}
{% block add %}
    <script src="{% static 'apps/reset_pss.js' %}"></script>
{% endblock %}