{% extends 'front-end/login.html' %}
{% load static %}
{% block clase %}
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
{% endblock %}
{% block form_login %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">Olvido su contraseña?</h1>
        <p class="mb-4">Lo entendemos, pasan cosas. Simplemente ingrese su nombre de usuario
            y le enviaremos un enlace a su correo para restablecer su contraseña.!</p>
    </div>
    <form class="user" id="reset_pass" method="post">
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Resetear Contraseña
        </button>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="{% url 'singnup' %}">Crear una cuenta!</a>
    </div>
    <div class="text-center">
        <a class="small" href="{% url 'login' %}">Ya tienes una cuenta? Logeate!</a>
    </div>
{% endblock %}
{% block add %}
<script src="{% static 'apps/reset_pss.js' %}"></script>
{% endblock %}